*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #7CE4D1;
}

.titulo{
    font-family: "Karla-Regular", Helvetica;
    font-size: 30px;
   text-align: center;
   background-color: #5056f5;
    width: 450px;
    margin:auto;
    padding: 6px;
    border-radius: 6px;
    margin-top: 30px;
    color: white;
}

.linea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 1000px;
}
.div2{
    display: block;
    width: 400px;
}
.h2{
    font-family: "Karla-Regular", Helvetica;
    text-align: center;
    padding-bottom: 50px;
}

.newsletter{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.div3{
    background-color: #5057f547;
    width:350px;
    height: 385px;
    padding: 5px;
    border-radius: 20px
}

.div3 h2{
    font-family: "Itim-Regular", Helvetica;
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    margin-bottom: 20px;
    
}

.gorras{
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.hola{
    background-color: #1a3dba6e;
    color: black;
    align-items: center;
    padding: 2px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 00;
    text-align: center;
    margin-top: 15px;
    width: 75%;
}

::placeholder{
    color: black;
}

.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    color: #ffffff;
    font-family: "Karla-Regular", Helvetica;
    background-color: black;
    border-radius: 20px;
    padding: 7px;
    margin-top: 15px;
    width: 35%;
}

.terminos{
    font-size: 8px;
    text-align: center;
    margin-top: 8px;
}

.img{
    width: 30px;
}


.div4{
    display: flex;
    justify-content:space-around;
    padding-top: 7px;
    height: 40px;
    
}

.img1{
    width: 80px;
}

.container{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    align-items: center;
}